.episodes-modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.episodes-modal-content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  height: 80%;
  width: 25%;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.episodes-modal-content__container::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.episodes-modal-content__container::-webkit-scrollbar-thumb {
  background-color: gray;
}

.episodes-modal-content__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: darkgray;
}

.episodes-modal-content__title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: black;
}

.episodes-modal-content__close {
  position: relative;
  left: 5%;
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.episodes-modal-content__close:hover,
.episodes-modal-content__close:focus {
  color: skyblue;
  text-decoration: none;
  cursor: pointer;
}

.episodes-modal-content__list {
  display: flex;
  flex-direction: column;
}
