.player {
    display: flex;
    background-color: black;
    text-align: left;
    color: red;
    font-size: 40px;
  }

  .player__icons {
    display: flex;
    margin: 10px;
  }

  .player__icons-play, .player__icons-pause {
    padding: 10px;
  }

  .player__title {
      padding: 20px;
  }
